@font-face {
    font-family: "Poppins";
    src: url('../../../fontes/Poppins-Regular.ttf') format('truetype');
}

.SearchBox {
    margin-top: min(10px, 2.5vw);
    margin-left: min(30px, 5.2vw);
    margin-right: min(30px, 5.2vw);
}

.SearchBox input{
    height: min(50px, 12vw);
    border-radius: min(8px, 2vw);
    border: 1px solid #0C172B;
    padding-left: min(10px, 2.5vw);
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins";
    font-size: min(16px, 4vw);
}